@model RapidLaunch.Models.Launch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Are you sure you want to delete this launch?</h3>
<div>
    <h4>Launch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rocket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rocket.RocketCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchPad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchPad.LaunchPadCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchOrbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchOrbit.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchStatus.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LaunchID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Manage" class="btn btn-info">Back to List</a>
    </form>
</div>
