@model IEnumerable<RapidLaunch.Models.Launch>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h4>Rocket Launches</h4>
    </div>
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-theme pull-right"><i class="fa fa-plus-circle"></i> Create New</a>
    </div>
</div>
<hr>
<section class="wrapper">
    <div class="row mb">
        <!-- page start-->
        <div class="content-panel">
            <div class="adv-table">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                    <thead>
                        <tr>
                            <th>
                                Launch Date
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rocket.RocketModel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LaunchPad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LaunchOrbit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LaunchStatus)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string status = item.LaunchStatus.Name;
                            string css = "";

                            switch (status)
                            {
                                case "Success":
                                    css = "label-success";
                                    break;
                                case "Failure":
                                    css = "label-danger";
                                    break;
                                case "Scheduled":
                                    css = "label-primary";
                                    break;
                                default:
                                    css = "label-info";
                                    break;
                            }

                            <tr class="gradeU">
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaunchDate)  @Html.DisplayFor(modelItem => item.LaunchTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rocket.RocketModel.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaunchPad.LaunchPadCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaunchOrbit.Name)
                                </td>
                                <td>
                                    <span class="label label-mini @css">@item.LaunchStatus.Name</span>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-xs tooltips" data-placement="left" data-original-title="Edit" asp-action="Edit" asp-route-id=@item.LaunchID><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger btn-xs tooltips" data-placement="left" data-original-title="Delete" asp-action="Delete" asp-route-id=@item.LaunchID><i class="fa fa-trash-o "></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- page end-->
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        /*
        * Initialse DataTables, with no sorting on the 'details' column
        */
        var oTable = $('#hidden-table-info').dataTable({
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0]
            }],
            "aaSorting": [
                [1, 'asc']
            ]
        });
    });
</script>