@model RapidLaunch.Models.Staff
@{ 
    var fn = Html.Raw(Model.Person.FirstName);
    var ln = Html.Raw(Model.Person.LastName);
}

<div class="col-lg-6 col-md-12 mb">
    <div class="grey-panel pn">
        <div class="grey-header">
            <h4>
                @Html.DisplayFor(modelItem => modelItem.Position.Name)
            </h4>
        </div>
        <p><img src="https://eu.ui-avatars.com/api/?background=4ECDC4&color=fff&name=@fn+@ln" class="img-circle" width="80"></p>
        <h5>
            <b>
                @Html.DisplayFor(modelItem => modelItem.Person.FirstName) @Html.DisplayFor(modelItem => modelItem.Person.LastName)
            </b>
        </h5>
        <div class="row">
            <div class="col-md-4">
                <h5 class="mt">Staff Since</h5>
                <p>
                    @Html.DisplayFor(modelItem => modelItem.HireDate)
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="mt">Email Address</h5>
                <p>
                    @Html.DisplayFor(modelItem => modelItem.Person.Contact.EmailAddress)
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="mt">Phone Number</h5>
                <p>
                    @Html.DisplayFor(modelItem => modelItem.Person.Contact.PhoneNumber)
                </p>
            </div>
        </div>
    </div>
</div>