@model IEnumerable<RapidLaunch.Models.RocketModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>Rocket Models</h4>
<hr>
<!-- row -->
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Height)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mass)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diameter)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayloadLEO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayloadGTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Manufacturer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RocketCategory)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Height)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diameter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayloadLEO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayloadGTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RocketCategory.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>
<!-- /row -->



